<!-- This html template will start off all of your other html files/pages -->

<!DOCTYPE html>
<html>
  <head>
    <!-- the page title will be a varible passed to the render_template() function for each page separately-->
    <title> {{ page_title }}</title>
  	<meta charset="utf-8"/>
    <!-- include the css from the file static/style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Importing Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

  <!-- this headline will appear on all pages. -->
  <header>

    <nav class="navbar">
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="first-page.html">Community</a>
        </li>
        <li>
          <a href="second-page.html">Contact us</a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- This is the part which will be different on each page. 
       see first-page.html for an example of using it -->
  <main>
    {% block content%}
    {% endblock %}
  </main>
  <footer>
  </footer>
  </body>