{% extends "base.html" %}
{% block title %}
    Contact Us
{% endblock %}
{% block content %}
<h1>CODE</h1>
<p>Great place</p>
<p>Great place</p>
<form>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Insert your questions here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-lg">Submit</button>
  </form>
{% endblock %}