body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    margin-top: 5rem;
    text-align: center;
}

img {
    width: 100%;
    height:auto;
}

/* Navbar */

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: monospace;
}

.navbar a:hover{
    background-color: #C6E9FF;
}

.navbar {
    width: 100vw;
}

@media only screen and (max-width: 500px) {
    .navbar ul {
      flex-direction: column;
    }
    
    .navbar li {
      margin: 0;
    }

    .navbar a{
      display: block;
    }
  }

/* Form */
    
form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
}

